body {
    background-image: url("headerbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.copyright {
    text-align: center;
    color: white;
    margin-top: 580px;
    font-weight: bold;
    font-family: Century Gothic, sans-serif;
}

.image {
    margin-top: 25px;
    margin: 25px;
    display: flex;
    justify-content: center;
}

.styled {
    border: 20;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
color: #fff;
    border-radius: 25px;
    background-color: rgb(24, 24, 24);
    border-color: #fff;
    background-size: 20;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    margin-left: 5px;
    }
    
    .styled:hover {
        background-color: rgb(54 54, 54);
        transition: 0.5s;
    }

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
